version: "3.8"

services:
  bot:
    build: .
    container_name: telegram-bot
    env_file:
      - .env
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://admin:Gui6414@mongo:27017/telegram?authSource=admin
    volumes:
      - ./sessao.session:/app/sessao.session
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: Gui6414
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
